<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Minimal Stack</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
      # TODO not using PicoCSS, should be removed and replaced with ShoelaceCSS
    />
  </head>
  <body>
    <main class="container" style="align-items: center; text-align: center;"></main>
      <hgroup>
        <h2>Go Minimal Stack</h2>
        <p>Simple and productive. Little to no dependencies.</p>
      </hgroup>
    </main>
  </body>
</html>
